#logo1{
    border: 10px;
    border-radius: 20px;
    border-style: solid;
    width: 200px;
    color: black;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
#test1data{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
#dil{
    border: 10px;
    border-style: solid;
    border-radius: 20px;
    width: 300px ;
    color: black;
    margin: 20px;
    

}
#dix{
    border: 10px;
    border-style: solid;
    border-radius: 20px;
    width: 230px;
    color: black;
    margin: 20px;
}
#sata3D{
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: aqua;
    margin: 10px;
    font-size: 2rem;
}
#p{
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: lime;
    margin: 10px;
    font-size: 3rem;
}
.name{
color:black;
background-color:lime;
border:10px;
border-style:solid;
border-color:black;
font-size:3rem;
border-radius:20px;

}
body{
display:flex;
flex-direction:column;
align-items:center;
}
.CT{
border:10px;
border-style:solid;
border-color:black;

}